@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');
#home__banner{
    background-image: url("./assets/img/hero-bg.jpg");
    height:500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #00000094;
    background-blend-mode: overlay;
    font-family: 'Raleway', sans-serif;
}

.angle-box{
    height:auto;
    width: 100%;
    background: #1B1B1B;
    transform:skewY(-3deg);
    margin-top: 100px;
    
}
.angle-box-text{
    transform:skewY(3deg);
    padding-top: 100px;
}
.success-icon{
    position: relative;
    top: 30px;
}

.float-card-icon:hover{
    color: #DC3545;
    transition:  color 0.4s ease-in-out;
}
#services{
    height: auto;
}
.underline-text-div{
    width: 150px;
    margin: auto;
    display: block;
    position: relative;
}

.underline-text::after{
    content: '';
    display: block;
    border-bottom: 4px solid #DC3545;
    width: 60px;
    position: absolute;
    top: 50px;  
    left: 50px;
    transition:width 0.4s ease-in-out;
}
#testimonial .underline-text::after{
    left: 80px;
}

.present-card-bg {
    background: #242424;
}

.protfolio-img-overlay{
    background: #00000059;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: rgb(218, 218, 218);
    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.protfolio-img img{
    transition: transform 0.4s ease-in-out;
}
.protfolio-img:hover img{
    transform: scale(1.2);
}
.protfolio-img:hover .protfolio-img-overlay{
    opacity: 1;
}
